{{#partial "contenido"}}
    <div class="mt-3 ms-5 me-5 text-md-start text-center">
        <h2 class="fw-normal">Servicios</h2>
        <input class="w-100 rounded p-1 mt-2" type="text" id="myInput" onkeyup="myFunction()" placeholder="Buscar servicio" title="Buscar servicio">
        <hr>
        <div class="row card-group text-center justify-content-sm-center justify-content-md-start">
            {{#each servicios}}
                <div class="card m-sm-2 m-md-4 shadow border-light rounded-4" style="max-width: 18rem; min-width: 18rem; height: 28rem">
                    <h3 class="card-title mt-3 align-self-center">{{this.nombre}}</h3>
                    <p class="card-text fw-bold">{{this.establecimiento.nombre}} - {{this.establecimiento.entidad.nombre}}</p>
                    <p class="card-body h-100" style="max-height: 18rem; overflow: hidden">{{this.descripcion}}</p>
                    <form method="POST" action="agregar_servicio" class="agregar-servicio-form">
                        <input type="hidden" id="idServicio" name="idServicio" value="{{this.id}}">
                        <button type="submit" class="btn btn-primario mb-4">Agregar Servicio</button>
                    </form>
                </div>
            {{/each}}
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center">
            <a href="/interes" class="btn btn-secundario shadow-lg border-success w-25 mt-2 border-1 fs-5 p-1 mb-3">Cancelar</a>
        </div>
    </div>

    <script>
        function myFunction() {
            var input, filter, servicios, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            servicios = document.getElementsByClassName("card")
            for (i = 0; i < servicios.length; i++) {
                txtValue = servicios[i].textContent || servicios[i].innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    servicios[i].style.display = "";
                } else {
                    servicios[i].style.display = "none";
                }
            }
        }
    </script>
{{/partial}}
{{> templates/base }}